@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>List of project related devlopment resources:</p>

<ul>
    <li>Jira: <a href="https://athletes.atlassian.net/secure/RapidBoard.jspa?rapidView=1&projectKey=WEB&view=planning.nodetail&issueLimit=100" target="_blank">https://athletes.atlassian.net</a></li>
    <li>Git Repo: <a href="https://dev.azure.com/Athletes/AthletesProject/_git/AthletesRepository" target="_blank">https://dev.azure.com/Athletes</a></li>
    <li>CI/CD: <a href="https://dev.azure.com/Athletes/AthletesProject/_build" target="_blank">https://dev.azure.com/Athletes</a></li>
    <li>Collaboration: <a href="https://teams.microsoft.com/_?tenantId=9575349d-1e2a-44d8-97e2-adfbf0e97502" target="_blank">https://teams.microsoft.com</a></li>
    <li>Cloud Hosting: <a href="https://portal.azure.com/" target="_blank">https://portal.azure.com/</a></li>
</ul>

