@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Your Product Owner:</strong>   <a href="https://www.linkedin.com/in/zechariah-johnson/" target="_blank">Zechariah Johnson</a><br />
    <strong>Your Scrum Master:</strong> <a href="https://ca.linkedin.com/in/ryan-gandy-b6a1021?trk=people-guest_people_search-card" target="_blank">Ryan Gandy</a>
</address>